{% extends "base.html" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-sm-5">
				<div class="list-group">
					<h1>Parabéns {{ object.name}}</h1>
					<p>Seu cadastro foi realizado com sucesso, em breve entraremos em contato com você por e-mail ou telefone.</p>
					<p>Favor conferir seus dados:</p>

					<div class="list-group-item">
						<p>CPF: {{ object.cpf }}</p>
					</div>
					<div class="list-group-item">
						<p>e-mail: {{ object.email }}</p>
					</div>
					<div class="list-group-item">
						<p>Telefone: {{ object.phone }}</p>
					</div>
					<h4>Domínios</h4>
					{% for item in domains %}
						<div class="list-group-item">
							<p>{{ item.domain }}</p>
						</div>
					{% endfor %}

					<!-- edit -->
					<p>Clique em editar para corrigir seus dados.</p>
			        <a id="edit_subscription" href="{% url 'subscription_edit' pk=subscription.id %}">
			            <button type="button" class="btn btn-success">
			                <span class="fa fa-pencil"></span> Editar
			            </button>
			        </a>

					{% if user.is_authenticated %}
						<!-- delete with modal -->
			            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
			                <span class="fa fa-pencil"></span> Excluir
			            </button>
					{% endif %}

				</div>
			</div>
		</div>
	</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Confirmar</h4>
      </div>
        <form action="{% url 'subscription_delete' subscription.id %}" method="POST">
      <div class="modal-body">
          {% csrf_token %}
          Deseja mesmo deletar "{{ object }}"?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        <input type="submit" class="btn btn-danger" value="Deletar" />
      </div>
        </form>
    </div>
  </div>
</div>

{% endblock content %}