{% extends "base.html" %}

{% load bootstrap %}

{% block content %}

<div class="container">
	<form class="form-horizontal col-sm-7" action="." method="POST">
	    <legend>Cadastrar</legend>

	    {{ formset.management_form }}
	    {% csrf_token %}

        {% if form.media %}
            {{ form.media }}
        {% endif %}

	    {{ form.name|bootstrap_horizontal }}
	    {{ form.cep|bootstrap_horizontal }}
	    {{ form.address|bootstrap_horizontal }}
	    {{ form.district|bootstrap_horizontal }}
	    {{ form.city|bootstrap_horizontal }}
	    {{ form.uf|bootstrap_horizontal }}
	    {{ form.cpf|bootstrap_horizontal }}
	    {{ form.email|bootstrap_horizontal }}
	    {{ form.phone|bootstrap_horizontal }}

	    <legend>
	        <div class="pull-right"><a href="#" id="id_add_domain" class="btn btn-inverse add-subscription"><i class="icon-plus icon-white"></i> Adicionar Domínio</a></div>
	        Domínios
	    </legend>
	    <div class="subscriptions form-inline col-sm-10">
	        {% for form in formset %}
	            {{ form|bootstrap_horizontal }}
	        {% endfor %}
	    </div>

		<div class="form-group">
	      <div class="col-sm-10 col-sm-offset-2">
	        <button type="submit" id="id_submit" class="btn btn-primary">Salvar</button>
	      </div>
	    </div>
	</form>
</div>

<script type="text/html" id="subscription-template">
<div id="subscription-__prefix__">
    {{ formset.empty_form|bootstrap_horizontal }}
</div>
</script>
<script>
$(function() {
    $('.add-subscription').click(function(ev){
        ev.preventDefault();
        var count = parseInt($('#id_subscription_set-TOTAL_FORMS').attr('value'), 10);
        var tmplMarkup = $('#subscription-template').html();
        var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count)
        console.log(compiledTmpl);
        $('div.subscriptions').append(compiledTmpl);
        $('#id_subscription_set-TOTAL_FORMS').attr('value', count + 1);
    });
});
</script>


{% endblock content %}
