{% extends "base.html" %}

{% block content %}

<div class="container">

    <form class="navbar-form navbar-right" action="." method="get">
        <!-- add -->
        <a href="{% url 'subscription_add' %}">
            <button id="new_customer" type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span> Adicionar
            </button>
        </a>
        <!-- search form -->
        <div class="form-group">
	        <input id="search_box" name="search_box" type="text" placeholder="Localizar..." class="form-control">
	        <button type="submit" class="btn btn-success form-control"><span class="glyphicon glyphicon-search"></span></button>
	    </div>
	</form>
	
	<div class="page-header">
		<h2><h2><i class="fa fa-user"></i> Lista de Inscritos</h2>
	</div>

	{% if subscriptions %}
		<table class="table table-striped">
		    <thead>
		        <tr>
		            <th>Nome</th>
		            <th>Endereço</th>
		            <th>Bairro</th>
					<th>Cidade</th>
					<th>UF</th>
					<th>CPF</th>
					<th>e-mail</th>
					<th>Telefone</th>
					<th>Domínios</th>
		        </tr>
		    </thead>
		    <tbody>
		    {% for subscription in subscriptions %}
		        <tr>
	            	<td><a href="{{ subscription.get_absolute_url }}">{{ subscription.name }}</a></td>
	            	<td>{{ subscription.address }}</td>
	            	<td>{{ subscription.district }}</td>
	            	<td>{{ subscription.city }}</td>
	            	<td>{{ subscription.uf }}</td>
	            	<td>{{ subscription.cpf }}</td>
	            	<td>{{ subscription.email }}</td>
	            	<td>{{ subscription.phone }}</td>
	            	<td class="text-center"><a href="{{ subscription.get_absolute_url }}">{{ subscription.count_domain }}</a></td>
		        </tr>
		    {% endfor %}
		    </tbody>
		</table>
	{% else %}
		<p class="alert alert-warning">Sem itens na lista.</p>
	{% endif %}
</div>

<!-- pagination -->
{% include "pagination.html" %}

{% endblock content %}