{% extends "base.html" %}

{% block content %}
	<div class="container">
		<div class="jumbotron">
			<h1>Bem vindo ao site blindado.</h1>
			<a href="{% url 'subscription_add' %}">
            <button id="new_customer" type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span> Cadastre-se
            </button>
        </a>
		</div>
	</div>
{% endblock content %}
